.menu {
    display: flex;
    margin-bottom: var(--gutter);
    width: 100%;
    justify-content: flex-end;
}

.skills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.skills section {
    width: 100%;
}

.desktop {
    display: flex;
    justify-content: center;
}

.boxproject {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}